if not lang
  lang = 'ko'
!!! 5
//if lt IE 7
  <html class='no-js lt-ie9 lt-ie8 lt-ie7' lang='#{lang}'>
//if IE 7
  <html class='no-js lt-ie9 lt-ie8' lang='#{lang}'>
//if IE 8
  <html class='no-js lt-ie9' lang='#{lang}'>
//[if gt IE 8]><!
html.no-js(lang='#{lang}')
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title {{ _('title') }}
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='shortcut icon', href='/static/img/favicon.ico')
    {% assets "css_all" -%}
    link(rel='stylesheet', href='#{ ASSET_URL }')
    {%- endassets %}
    //if IE 7
      <link rel="stylesheet" href="/static/css/bootstrap-ie7.min.css">
      <link rel="stylesheet" href="/static/css/font-awesome-ie7.min.css">
    link(rel='apple-touch-icon-precomposed', href='/static/img/apple/apple-touch-icon-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='57x57', href='/static/img/apple/apple-touch-icon-57x57-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/static/img/apple/apple-touch-icon-72x72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/static/img/apple/apple-touch-icon-114x114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/static/img/apple/apple-touch-icon-144x144-precomposed.png')
    script(src='/static/js/vendor/html5-3.6-respond-1.1.0.min.js')
  body
    //if lt IE 8
      p.chromeframe
        {{ _('You are using an') }} <strong>{{ _('outdated') }}</strong> {{ _('browser') }}.
        {{ _('Please') }} <a href='http://browsehappy.com/' title='{{ _('upgrade your browser') }}' target='_blank'>{{ _('upgrade your browser') }}</a> {{ _('or') }}
        <a href='http://www.google.com/chromeframe/?redirect=true' title='{{ _('activate Google Chrome Frame') }}' target='_blank'>{{ _('activate Google Chrome Frame') }}</a>
        {{ _('to improve your experience') }}.
    //
    | {% include 'header.jade' %}
    .container
      .row
        | {% block content %}{% endblock %}
    hr
    .container
      footer
        | {% include 'footer.jade' %}
    script(data-main='/static/js/app', src='/static/js/vendor/require.js')
    script
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));

